<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@400&display=swap" as="style">

</head>
<body>

<!-- Navigation -->
<nav>
  <div class="wrapper">
    <div class="logo"><a href="#">Almario</a></div>

    <input type="checkbox" id="menu-btn" hidden>
    <input type="checkbox" id="close-btn" hidden>

    <ul class="nav-links">
      <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
      <li><a href="#">Home</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#portfolio">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>

    <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
  </div>
</nav>


<!-- About Section -->
<section class="about-me" id="about-me">
  <div class="container">
    <div class="about-me-container">
      <div class="about-me-flex-container">
        <div class="about-me-image">
          <div class="back-div"></div>
          <div class="black-image"><img src="assets/pictures/grad - Copy.jpg" alt="Almario"></div>
          <div class="main-image"><img src="assets/pictures/grad.jpg" alt="Guzman"></div>
        </div>
        <div class="about-me-content">
          <section class="home" id="home">
            <div class="max-width">
                <div class="home-content">
                    <div class="text-1">Hello, my name is</div>
                    <div class="text-2">Almario Guzman III</div>
                    <div class="text-3">Web Developer<span class="typing"></span></div>
                    <div class="classbox">
                      <a class="download" href="assets/resume/AlmarioGuzman.pdf" download="AlmarioGuzman.pdf">Download CV</a>
                </div>
                </div>
            </div>
        </section>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- SKILLS SECTION -->
<section class="skills" id="skills">
  <div class="max-width">
    <h2 class="title">My Skills</h2>
    <div class="skills-content">
      <div class="column left">
        <div class="text">My Skills</div>
        <p>
          I specialize in web development with a strong focus on JavaScript, React.js, and Tailwind CSS. I have experience building responsive, user-friendly interfaces and integrating APIs to create dynamic web applications. I'm passionate about clean code, continuous learning, and turning ideas into interactive digital experiences.
        </p>
        <!-- <a href="https://www.freecodecamp.org/sarfarazkhan" target="_blank">FreeCodeCamp<i class="fab fa-free-code-camp"></i></a> -->
      </div>
      <div class="column right">
        <div class="bars">
          <div class="info">
            <span>TypeScript, JavaScript </span>
            <span>70%</span>
          </div>
          <div class="line html"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>PHP </span>
            <span>70%</span>
          </div>
          <div class="line css"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>Laravel </span>
            <span>70%</span>
          </div>
          <div class="line js"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>Angular </span>
            <span>70%</span>
          </div>
          <div class="line php"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>WordPress </span>
            <span>80%</span>
          </div>
          <div class="line mysql"></div>
        </div>
        <div class="bars">
          <div class="info">
            <span>MySQL & MongoDB </span>
            <span>60%</span>
          </div>
          <div class="line database"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<br><br>
<!-- Portfolio Section -->
<section id="portfolio" class="section">
  <h2>Recent Projects</h2>
  <div class="portfolio-items">
    <div class="portfolio-item">
      <img src="assets/pictures/proj1.png" alt="Project 1">
      <p>Callidora is an eCommerce blog Website built on WordPress, featuring products of Callidora</p>
      
    </div>
    <div class="portfolio-item">
      <img src="assets/pictures/proj2.png" alt="Project 2">
      <p>Personal e-portfolio built with Angular, showcasing skills, projects, and achievements.</p>
    </div>
    <div class="portfolio-item">
      <img src="assets/pictures/proj3.png" alt="Project 3">
      <p>Capstone project for a subdivision, built with Laravel, for management and residents.</p>
    </div>
  </div>
  <div class="portfolio-items">
    <div class="portfolio-item">
      <img src="assets/pictures/proj4.png" alt="Project 4">
      <p>A web platform built with Angular to raise awareness about racism and promote equality through education.</p>
    </div>
    <div class="portfolio-item">
      <img src="assets/pictures/proj5.png" alt="Project 5">
      <p>A simple Angular-based web platform for flight booking.</p>
    </div>
    <div class="portfolio-item">
      <img src="assets/pictures/proj6.png" alt="Project 6">
      <p>A simple Angular-based web platform for restaurant blogging.</p>
    </div>
  </div>
  
  <div class="portfolio-items">
    <div class="portfolio-item">
      <img src="assets/pictures/proj7.png" alt="Project 7">
      <p>UI design for Callidora website focused on elegance and user experience.</p>
      
    </div>
    <div class="portfolio-item">
      <img src="assets/pictures/proj8.png" alt="Project 8">
      <p>A restaurant blog website built using HTML and CSS.</p>
    </div>
    <div class="portfolio-item">
      <img src="assets/pictures/proj9.png" alt="Project 9">
      <p>UI design for a mobile app focused on sharing and discovering recipes.</p>
    </div>
  </div>
  
</section>

<section id="contact" class="text-center">
  <div class="container">
    <h2>Let's Keep in Touch</h2>
    <hr>
    <p>If you want to hire me or know more about me, feel free to contact me:</p>
    
    <div class="contact-info">
      <p><strong>Email: </strong> <a href="mailto:almario.guzmaniii@gmail.com">almario.guzmaniii&#64;gmail.com</a></p>
      <p><strong>Location: </strong> Pampanga, Philippines</p>
    </div>

    <div class="social-media">
      <a target="_blank" title="Follow me on Twitter" href="https://github.com/bxste">
        <img alt="Twitter" src="https://images.icon-icons.com/2406/PNG/512/github_git_icon_145985.png" border="0">
      </a>
      <a target="_blank" title="Follow me on Facebook" href="https://www.facebook.com/AlmarioGuzmanIII">
        <img alt="Facebook" src="https://img.icons8.com/ios11/512/facebook-new.png" border="0">
      </a>
      <a target="_blank" title="Instagram" href="https://www.instagram.com/thirdguzman/">
        <img alt="Instagram" src="https://static.vecteezy.com/system/resources/previews/031/737/233/non_2x/instagram-social-media-logo-icons-instagram-icon-free-png.png" border="0">
      </a>
    </div>

    <p><strong>&copy; 2025 All Rights Reserved – Almario Guzman III</strong></p>
  </div>
</section>


<!-- FOOTER SECTION -->
<!-- <footer>
  <span>Created By
    <a href="https://github.com/GoogolDKhan" target="_blank"><span class="fab fa-github"></span> Sarfaraz Khan</a>
    | <span class="far fa-copyright"></span> 2021 All rights reserved.</span>
</footer> -->

</body>
</html>
